.servicesContainer {
  background-image: url(../../assets/services.jpg);
}

.serviceTitle {
  margin: 140px auto 0 10%;
}

.servicesItemList {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 70px 70px 70px 70px 70px;
  gap: 40px 8px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .';
  text-align: center;
  font-size: 28px;
  width: 100%;
}

.linksWrp {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.euronextLink {
  display: block;
  width: 320px;
  height: 100px;
  background-image: url(../../assets/euronext.png);
  margin: 0;
}
.linkContainer {
  padding: 5px;
  border: 3px solid #e1d48e;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linksTitle {
  letter-spacing: 2px;
  font-size: 40px;
  margin-right: 10px;
}
