.serviceTitle {
  margin: 120px auto 0 10%;
}
.servicesBg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.servicesItemList {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 70px 70px 70px 70px 70px;
  gap: 40px 8px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .';
  text-align: center;
  font-size: 28px;
  width: 100%;
  justify-items: stretch;
  justify-content: space-between;
}

.linksWrp {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.euronextLink {
  display: block;
  width: 320px;
  height: 94px;
  background-image: url(/euronext.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}
.linkContainer {
  padding: 5px;
  border: 3px solid #e1d48e;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linksTitle {
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0 10px;
  white-space: nowrap;
}

@media screen and (max-width: 850px) {
  .servicesItemList {
    display: grid;
    grid-template-columns: 44% 44%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    gap: 28px 8px;
    grid-template-areas:
      '. . '
      '. . '
      '. . '
      '. . '
      '. . '
      '. . '
      '. . '
      '. . ';
    text-align: center;
    font-size: 24px;
    width: 100%;
  }
  .innerListItem {
    font-size: 2rem;
  }

  .linksTitle {
    font-size: 16px;
  }
  .euronextLink {
    width: 150px;
    height: 42px;
  }
  .linksWrp {
    margin-top: 28px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1400px) {
  .euronextLink {
    width: 150px;
    height: 42px;
  }
  .linksTitle {
    font-size: 24px;
  }
  .servicesItemList {
    display: grid;
    grid-template-columns: 44% 44%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    gap: 28px 4px;
    grid-template-areas:
      '. . '
      '. . '
      '. . '
      '. . '
      '. . '
      '. . '
      '. . '
      '. . ';
    text-align: center;
    font-size: 28px;
    width: 100%;
  }
  .linksWrp {
    margin-top: 68px;
  }
  .innerListItem {
    font-size: 20px;
    white-space: pre-wrap;
  }
  .serviceTitle {
    font-size: 52px;
  }
}

@media screen and (max-width: 600px) {
  .euronextLink {
    width: 100px;
    height: 27px;
  }
  .innerListItem {
    font-size: 18px;
  }
  .linksTitle {
    margin-right: 4px;
  }
  .serviceTitle {
    font-size: 40px;
  }
  .linksWrp {
    flex-direction: column;
  }
  .linkContainer {
    width: 50%;
    max-width: 80%;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 500px) {
  .euronextLink {
    width: 100px;
    height: 27px;
  }
  .servicesItemList {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;

    gap: 2px 0px;
  }
  .innerListItem {
    font-size: 14px;
  }
  .linksTitle {
    margin-right: 4px;
  }
  .serviceTitle {
    font-size: 40px;
  }
}
