.pageButton {
  box-shadow: inset 0px 0px 17px 3px rgb(0 0 0 / 77%);

  width: min-content;
  height: 56px;
  border: 1px solid #e1d48e;
  background: rgba(22, 23, 21, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* margin: 52px auto 80px 60%; */
}

.buttonTxt {
  font-family: Baloo Bhai;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  margin: 5px;
  transition: all 0.5s;
}

.pageButton:hover .buttonTxt {
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (min-width: 2000px) {
  .buttonTxt {
    font-size: 60px;
  }
}
