.mainText {
  font-family: 'Russo One', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 350px 50px 50px;
}

.background {
  background-image: url(../../assets/mainBg.jpg);
}

.mainPageBtn {
  margin: 100px auto;
}
