.mainText {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 100px 50px 0;
}
.mainTextWrp {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.mainPageBtn {
  margin: 50px auto;
}

@media screen and (min-width: 2000px) {
  .mainTextWrp {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  .mainText {
    text-align: center;
    font-size: 80px;
  }
}

@media screen and (min-width: 800px) {
  .mainText {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .mainText {
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
  }
  .mainBg {
    height: 120vh;
    margin-top: -20vh;
    width: 120vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .mainText {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .mainText {
    font-size: 2rem;
    text-align: center;
    padding: 0;
    text-align: center;
  }
}
