.white {
  color: #fff;
}

.yellow {
  color: #e1d48e;
}

.background {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
