.white {
  color: #fff;
}
p {
  letter-spacing: 1px;
}

.yellow {
  color: #e1d48e;
}

.background {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.m50 {
  margin-left: 50px;
}

.mAuto {
  margin: 0 auto;
}

.triangleSpan {
  background-image: url(../assets/textSpan.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
  margin: 5px 5px 5px 5px;
}

.multiTextContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 10px 0 10px;
  font-size: 28px;
}

.TextContainerText {
  font-size: 24px;
}

.textContainerChildsWrp {
  margin: 30px 100px;
  text-align: start;
}

.globalBtnsWrp {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  width: 100%;
}

.backButton {
  flex-direction: row-reverse;
}

.nextButton {
  flex-direction: row;
}

.pagesTitle {
  text-shadow: -20px -20px 10px rgba(0, 0, 0, 0.25);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.innerListItem {
  margin-left: 0px;
}

@media screen and (max-width: 800px) {
  .multiTextContainer {
    font-size: 18px;
  }
  .textContainerChildsWrp {
    margin: 10px 30px;
  }
  .TextContainerText {
    font-size: 18px;
  }
  p {
    letter-spacing: 1.3px;
  }
  .pagesTitle {
    font-size: 60px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 800px) {
  .multiTextContainer {
    font-size: 22px;
  }
  .textContainerChildsWrp {
    margin: 20px 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .textContainerChildsWrp {
    margin: 8px 12px;
  }
}

@media screen and (max-width: 500px) {
  .TextContainerText {
    font-size: 16px;
    .multiTextContainer {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 390px) {
  .TextContainerText {
    font-size: 16px;
    .multiTextContainer {
      font-size: 16px;
    }
  }
}
