.footerContainer {
  height: 400px;
  background-image: url(/footer.svg);
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px -12px 42px 20px rgb(0 0 0 / 77%);
  font-family: 'Russo One', sans-serif;
}

.footerLinks {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.listLinks {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: flex-start;
  justify-content: center;
}

.footerContactsList {
  margin: 0 50px 0 0;
}
.footerContacts {
  list-style: none;
  font-size: 28px;
  text-align: end;
}

.certImg {
  width: 400px;
  height: 200px;
}

@media screen and (max-width: 870px) {
  .certImg {
    display: none;
  }
  .footerLinks,
  .footerContacts {
    font-size: 18px;
  }
  .footerContainer {
    height: max-content;
    align-items: flex-start;
  }
  .listLinks,
  .footerContactsList {
    margin: 20px auto;
  }
}

@media screen and (min-width: 870px) and (max-width: 1400px) {
  .certImg {
    width: 300px;
    height: 170px;
  }
  .listLinks,
  .footerContactsList {
    margin: 20px auto;
  }
  .footerContainer {
    height: max-content;
  }
  .footerLinks,
  .footerContacts {
    font-size: 20px;
  }
}
