.contactsChildContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.AAcontainer {
  background: rgba(252, 251, 250, 0.01);
  box-shadow: 0px 0px 106px 0px rgba(0, 0, 0, 0.35) inset;
  padding: 10px;
  border: 1px solid #333325;
}

.stateContainer {
  max-width: 48%;
  margin: 0;
}

.companyContainer {
  max-width: 48%;

  margin: 0;
}

.ccText {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.AAnames {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

span {
  margin: 0;
  padding: 10px;
}
p {
  margin: 0;
}

.textWithoutSpan {
  margin: 15px 70px 0 0;
}

.ccTitles {
  margin: 20px auto 20px 0;
  font-size: 32px;
}
.textWrp {
  margin-left: 15px;
}
.rekWrp {
  margin-left: 85px;
}
@media screen and (max-width: 1400px) {
  .contactsChildContainer {
    flex-direction: column;
    word-wrap: break-word;
  }
  .stateContainer,
  .companyContainer {
    max-width: 100%;
  }
  .ccTitles {
    font-size: 40px;
  }
  .textWithoutSpan {
    margin: 15px 0 0;
  }
  .rekWrp {
    margin-left: 40px;
  }
}

@media screen and (max-width: 850px) {
  .contactsChildContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 680px) {
  .AAnames {
    font-size: 24px;
  }
  .ccText {
    font-size: 20px;
  }
  .textWithoutSpan {
    font-size: 28px;
  }
  .rekText {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .rekText {
    font-size: 16px;
  }
  .AAnames {
    font-size: 20px;
  }
  .ccText {
    font-size: 16px;
  }
  .textWithoutSpan {
    font-size: 22px;
  }
  svg {
    width: 30px;
    height: 30px;
  }
  span {
    padding: 4px;
  }
}

@media screen and (max-width: 500px) {
  .AAcontainer {
    padding: 4px;
    margin: 0 -20px;
  }
  .ccTitles {
    font-size: 2.2rem;
  }
  .contactsList {
    margin: 0 -20px;
  }
  .textWrp {
    margin: 0 5px;
  }
  p {
    font-size: 0.9rem;
  }
  .rekText {
    font-size: 1rem;
  }
}
